.location-settings {
  max-width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-title{
  color: white;
  font-size: 2vw;
}

.search-input {
  height: 2vw;
  width: 96%;
  padding: 1% 2%;
  margin-top: 10px;
  font-size: 2vw;
  background-color: #707793;
  color: white;
  border: 1px solid rgba(255,255,255,0.3);
}

.search-input::placeholder {
  font-style: italic;
  color: rgba(255,255,255,0.5);
}

.current-location-btn {
  height: 3vw;
  width: 100%;
  padding: 1% 2%;
  margin-top: 10%;
  font-size: 2vw;
  border-radius: 3px;
  border: 2px solid white;
  background-color: white;
  color: gray;
  transition: 0.5s;
  text-align: left;
}

.current-location-btn:hover {
  border: 2px solid #3BBA9C;
}
