.weather-card {
  display:flex;
  width: 58%;
  border: 1px solid rgba(255,255,255, 0.2);
  border-radius: 4px;
}

.weather-card-title {
  padding: 3%;
  font-size: 2.5vw;
  width: 40%;
}

.weather-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #707793;
  min-height: 100%;
  width: 60%;
}

.weather-card-content-image {
  height: 15vw;
}

.weather-card-content-description {
  font-size: 2vw;
  text-transform: capitalize;
  margin-left: 2%;
}
